body::after{
opacity: 0.3!important; filter:alpha(opacity=30);
}
#usertype{
  font-size:15px;
}
html {

}
.signUpForm{
  display: table-cell;
  vertical-align: middle;
  display: table;
  margin: auto;
  height: 100%;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: solid transparent;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
}
html, body {
height: 100%;
}
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1.5rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
.medium-small {
font-size: 0.9rem;
margin: 0;
padding: 0;
}

.login-form {
width: 280px;
}

.login-form-text {
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.8rem;
}

.login-text {
margin-top: -6px;
margin-left: -6px !important;
}

.margin {
margin: 0 !important;
}

.pointer-events {
pointer-events: auto !important;
}

.input-field >.material-icons  {
padding-top:10px;
}

.input-field div.error{
position: relative;
top: -1rem;
left: 3rem;
font-size: 0.8rem;
color:#FF4081;
-webkit-transform: translateY(0%);
-ms-transform: translateY(0%);
-o-transform: translateY(0%);
transform: translateY(0%);
}
